@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: whitesmoke;
}

.header {
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.container video {
  width: 100%;
  height: auto;
  background-color: rgb(216, 216, 216);
  border: 2px solid gray;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.controller {
  display: flex;
  width: 100%;
  justify-content: center;
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  filter: opacity(0.9) hue-rotate(-45deg);
}

.is-primary {
  background-color: rgb(0, 211, 211);
}

.is-warning {
  background-color: rgb(252, 208, 65);
}

.is-danger {
  background-color: rgb(250, 28, 95);
}

.is-text {
  margin-top: 2rem;
  color: black;
  background: none;
  text-transform: uppercase;
}

.is-text:nth-child(2) {
  margin-top: 1rem;
}

.is-text:hover {
  transform: scale(1.02);
  background-color: rgba(0, 0, 0, 0.1);
}

.controller button:nth-child(1) {
  margin-right: 1rem;
}

.controller button:nth-child(2) {
  margin-left: 1rem;
}
